@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: Barlow;
    src: url(fonts/Barlow-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Barlow Bold;
    src: url(fonts/Barlow-Bold.ttf) format('truetype');
    font-weight: normal;
}

*{
    margin: 0px;
}

img{
    margin: 10px;
    margin-right: 400px;
}

#cabecera {
    height: 90px;
    display: flex;
    justify-content: space-around;
    background-color: #580002;
    margin: 0px;
}
.botones {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.botonera {
    display: flex;
    justify-content: space-between;
}


li{
    font-family: 'Barlow';
    font-size: 20px;
    color:white;
    display: flex;
    justify-content: space-between;
    margin: 15px;
}
li:hover{
    font-family: 'Barlow Bold';
    font-size: 20px;
    font-style: bold;
    text-decoration: underline;
    color: #C5AFA0;
}