@charset "utf-8";
/* CSS Document */

/*Fuentes*/
@font-face {
    font-family: Barlow;
    src: url(fonts/Barlow-Regular.ttf) format('truetype');
}

@font-face {
    font-family: Barlow Bold;
    src: url(fonts/Barlow-Bold.ttf) format('truetype');
}

@font-face {
    font-family: Barlow Medium;
    src: url(fonts/Barlow-Medium.ttf) format('truetype');
}

@font-face {
    font-family: Barlow Extrabold;
    src: url(fonts/Barlow-ExtraBold.ttf) format('truetype');
}

/*Fin fuentes*/

*{
    margin: 0px;
    text-decoration: none;
    list-style: none;
    color: black;
}

/*Títulos, subtítulos, etc*/
p {
    font-family: Barlow;
    font-size: 1.1em;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
}

h1{
    color:white;
    font-family: Barlow Extrabold;
    font-size: 88px;
    line-height: normal;
}

h2{
    font-family: Barlow Bold;
    color: #580002;
    font-size: 56px;
    line-height: 68px;
}

h3{
    font-family: Barlow Bold;
    color: #580002;
    font-size: 32px;
    line-height: 36px;
}

h4{
    color: #FFF;
    font-family: Barlow;
    font-size: 20px;
}

h5{
color: #FFF;
font-family: Barlow Bold;
font-size: 32px;
}

body{
  cursor: url(img/cursor.svg) 0 0, auto;
}


/*Ajustes para la botonera!!!*/

.logocca {
    height: 8vh;
    width: auto;
}

#cabecera {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #580002;
    width: 100%;
    position: sticky;
    top: 0%;
    z-index: 10;
}

.botones {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.botonera {
    display: flex;
    justify-content: space-between;
}


li a{
    font-family: 'Barlow';
    color: #FFF;
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
}
header li a{
    font-size: 1.2em;
}
header li a{
    font-size: 1.2em;
}

header li:hover{
    font-family: 'Barlow Bold';
    font-style: bold;
    color: #C5AFA0;
    padding: 5px;
    border-bottom-style: solid;
    border-bottom-color: #C5AFA0;
    border-bottom-left-radius: 1px;
}

 header li a:hover{
    color: #C5AFA0;
}
/*Fin de ajustes para la botonera!!!*/

/*Imagen principal index*/
.imagenppal {
    position: relative;
    display: inline-block;
}


.imagenppal img {
    display: block;
    width: 100%;
    height: auto;
}

.textosuperpuesto {
     position: absolute;
     top: 90%; 
     left: 35%; 
     transform: translate(-50%, -50%); 
     color: #fff; 
     padding: 10px 20px; 
     font-size: 20px; 
     text-align: left;
}
/*fin imagen principal*/

/*ajustes footer*/
footer{
    background-color: #150F10;
    height: 16vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 55px;
}

footer ul{
    display: flex;
    justify-content: flex-start;
    padding: 0px;
    gap: 5px;
}

img.logo-footer{
    height: 12vh;
    width: auto;
}

footer h4{
    font-size: 0.8em;
    padding-top: 5px;
}

footer h5{
    font-size: 1.2em;
}

img.icono-footer{
    height: 3vh;
    width: auto;
}

/*fin ajustes footer*/


/*ajustes cards*/

details{
    width: 50%;
}

summary{
    width: 50%;
    border-radius: 20px;
    background-color: #580002;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 65px;
    box-sizing: border-box;
    gap: 35px;
}

details[open]{
    background-color: #F3EFEC;
    border-radius: 25px;
    gap: 20px;
}

.card-talleres-abierta, .titulo-card{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

summary{
    width: 100%;
    background-color: #580002;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 65px;
    box-sizing: border-box;
    gap: 35px;
}

summary h3{
    color: #FFF;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.card-talleres-abierta{
    padding: 25px;
    box-sizing: border-box;
    gap: 30px;
}

.titulo-card{
    justify-content: flex-start;
    gap: 10px;
}

.contenido-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
}

.foto-taller{
    width: 55%;
    height: auto;
    border-radius: 15px;
}

details p{
    font-size: 0.8em;
}

details h4{
    font-size: 0.9em;
    color: #580002;
    text-transform: uppercase;
}

details a{
    background-color:#580002;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-family: "Barlow";
    font-size: 0.8em;
    font-weight: 600;
    text-transform: uppercase;
}

details a:hover{
    background-color: #C5AFA0;
    color: #580002;
}

.cards{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 5% 0%;
}

.intro-talleres{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    padding: 5% 25% 0% 25%;
}
/*fin ajustes cards*/
/*ajustes contacto*/
.formulario, .cto-saludo, .dire, .txt-dire{
    display: flex;
    flex-direction: column;    
}

.cto-icons, .cto-direccion{
    display: flex;
    flex-direction: row;
}

article.intro-cto{
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: center;
    align-items: flex-start;
}

.formulario{
    width: 35vw;
    align-items: flex-start;
    justify-content: center;
    padding: 2%; 
    border-right-style: solid;
    border-right-color: #C5AFA0;
    border-top-right-radius: 1px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-top-style: solid;
    border-top-color: #C5AFA0;
    border-top-left-radius: 1px;
    padding: 5%;
}

.campo{
    width: 25vw;
    border-radius: 10px;
    border: 1px solid #580002;
    box-sizing: border-box;
    padding: 5%;
    color: #580002;
}

.enviar{
    width: 10vw;
    border-radius: 10px;
    background-color: #580002;
    color: #C5AFA0;
    padding: 5%;
}

input::placeholder{
 color: #580002;
}

input.enviar:hover{
    background-color: #C5AFA0;
    color: #580002;
}

h2.t-f{
    font-size: 3em;
    text-transform: uppercase;
}

.cto-saludo{
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
    width: 35vw;
    padding: 10% 0%;
}

.cto-t{
    font-size: 1.4em;
    color: #580002;
    text-transform: uppercase;
    padding: 10px 0px;
}

.cto-icons{
    gap: 15px;
    justify-content: flex-start;
    padding: 0%;
}

.cto-direccion{
    justify-content: flex-end;
    padding-top: 5%;
}

iframe{
    width: 50vw;
    height: 60vh;
}

.dire{
    width: 35vw;
    padding: 0% 5%;
}

.txt-dire{
    gap: 10px;
}

.dire-n{
    font-weight: bolder;
}
/*fin ajustes contacto*/



/*continuación index*/
.indexdestacado{
    display: flex;
    padding: 65px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.titulos{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding: 15px 241px;
    gap: 40px;
}

h6{
    color: white;
    font-family: 'Barlow LightItalic';
    font-size: 48px;
}

/*obras index*/
.botonvm {
    color: white;
    width: 95px;
    text-transform: uppercase;
    background-color: #580002;
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    text-align: center;
}

.obrascart{
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 8px 8px 8px 0px rgba(197, 175, 160, 0.30);
    display: flex;
    padding: 35px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 618px;
    height: 691px;
}

.carteleraindex{
    display: flex;
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    align-self: stretch;
}

.mayus{
    text-transform: uppercase;
}


/*talleres index*/
.talleresind{
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.carttalleres{
    background-color: #580002;
    border-radius: 20px;
    box-shadow: 8px 8px 8px 0px rgba(197, 175, 160, 0.30);
    width: 406px;
    height: 588px;
    display: flex;
    padding: 35px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.talleresindex{
    display: inline-flex;
    padding: 30px 0px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.botonvm2 {
    color: white;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-color: #580002;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    box-sizing: border-box;
    text-align: center;
}

.vmi{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 85px;
}

/* ---- nosotros de alex - primera parte ---- */

.nosotros {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.nosotros-texto {
    width: 50%;
    padding: 200px 200px;
    background-color: white;
    box-sizing: border-box;
}

.nosotros-texto h3 {
    margin-bottom: 20px;
}

.nosotros-texto p {
    font-family: Barlow;
    font-size: 1.1em;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    color: #000;
}

.nosotros-imagen {
    width: 50%;
    overflow: hidden;
}

.nosotros-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


/* seccion elenco */
.elenco {
    background-color: white;
    padding: 80px 0px;
    text-align: center;
}

.elenco h3 {
    line-height: 68px;
    margin-bottom: 2rem;
}

/* Slider general */
.slider {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
}

/* Carril que contiene grupos de actores */
.slider-track {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
}

/* Grupo duplicado para animación infinita */
.grupo {
    display: flex;
    gap: 1rem;
    animation: scroll-left 100s linear infinite;
}

.reverse .grupo {
    animation: scroll-right 100s linear infinite;
}

/* Estilos individuales de cada actor */
.actor {
    background: #b3002d;
    border-radius: 57px;
    padding: 0.7rem 1rem;
    display: inline-flex;
    align-items: center;
    font-family: 'Barlow Medium';
    font-size: 1rem;
    font-weight: 600;
    justify-content: center;
    color: #f2f2f2;
}

/* Animaciones del slider con los nombres */
@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);}
}

/*fin nosotros*/

/*cartelera*/

.cartelera {
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
}

.intro-cartelera {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    padding: 5% 5% 0% 25%;
}

.video {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 0% 25% 0% 0%;
    align-items: flex-end;
}

.trama {
    display: flex;
    padding-top: 5%;
    width: 100%;
}

.titulo-cartelera {
    display: flex;
     padding-bottom: 25px;
}
.obras {
    display: flex;
    padding-top: 5%;
    flex-direction: column;
    padding-left: 25%;
    padding-bottom: 5%;
    gap: 10px;
   
}

.nombres-obras {
     color: #580002;
    font-family: Barlow;
    font-size: 20px;
   

}

.SOLICANTILOQUIOS {
    display: flex;
     align-items: center;
    gap:10px;
    background: rgba(109, 109, 109, 0.15);
    width: 780px;
    height: 300px;
    border-radius: 20px;
    justify-content:center;
    flex-wrap: nowrap;
    align-content: space-between;

    

}

.fechas {
      color: #150F10;
    font-family: Barlow;
    font-size: 15px;
   display: flex;
   flex-direction: column;
   gap: 5px;

}

.exp-obras {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
}

.reserva {
        background-color: #580002;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-family: "Barlow";
    font-size: 0.8em;
    font-weight: 600;
    text-transform: uppercase;
    width: 50px; ;
}

.calendarios {
    display: flex;
}

/* aca termina cartelera */




















































































































/* responsive */
@media screen and (max-width:600px) {
    header ul{
     font-size: 0.8em;}

    

    p{
        font-size: 1em;}

    details{
    width: 70vw;}

    .intro-talleres{
        width: 70%;
        padding: 5% 15%;}
    
    .card-talleres-abierta{
        flex-direction: column;
        align-items: center;}

    .foto-taller{
        width: 70%;}
    
    .contenido-card{
        align-items: center;}

    .titulo-card{
        align-items: center;
    }

    .logocca{
        height: 5vh;
        width: auto;
        padding-left: 15px;
    }

    article.intro-cto{
        flex-direction: column;
        align-items: center;}

    .formulario{
        width: 70vw;
        border-style: none;
        align-items: center;
        padding: 30px 0px;}
    
    form{
    width: 65vw;}

    .campo{
        width: 100%;}

    .enviar{
        width: 50%;}

    .cto-saludo{
        width: 70vw;
        justify-content: center;
        align-items: center;}

    .cto-direccion{
        flex-direction: column;}
    
    iframe{
        width: 100vw;
        height: 50vh;}

    .dire{
        width: 70vw;
        padding: 15%;}
    }

    /* fin responsive*/